<s> [INST] {{ instruction }}

A post should be classified as `"bias"` if it meets any of the following:
{{ yes_criteria }}

A post should be classified as `"non-bias"` if it meets any of the following:
{{ no_criteria }}

If the post is ambiguous or doesn't clearly fit either, classify it as `"uncertain"`.

Now decide:

Post:
"{{ post }}"

Return your label choice and a brief explanation in this format:

Label: <bias|non-bias|uncertain>
Reasoning: <your explanation>
[/INST]
