<s> [INST] {{ instruction }}
A post should be classified as "1" (Yes) if it includes:
{{ yes_criteria }}
A post should be classified as "0" (No) if it:
{{ no_criteria }}
Now decide:
Post: "{{ post }}"
[/INST]
Output:
