python-dotenv
transformers
accelerate
bitsandbytes
sentencepiece
bertopic
optimum
onnx
onnxruntime
asyncpraw
tqdm
sentencepiece
huggingface-hub
sentence-transformers
jinja2
black
pytest
pytest-asyncio
isort
pre-commit
vllm
